body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #ff7a28;
}

.Navbar-brand {
  color: #0c085c;
}

.categories-active {
  background-color: #ff7a28;
  color: #ffffff;
}

.btn-primary {
  background-color: #ff7a28;
}

.order {
  width: 320px;
  height: 88px;
  border-radius: 24px;
  flex-shrink: 0;
  background-color: #ff7a28;
}

.btn-cart {
  background-color: white;
  border: none;
  border-radius: 24px;
  padding: 8px 16px;
  color: #000;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
