/* :root {
  
} */

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #ff7a28;
}

.categories-active {
  background-color: #ff7a28;
  color: #ffffff;
}

.btn-primary {
  background-color: #ff7a28;
}

.btn-primary:hover {
  background-color: #f79457;
}

.order {
  height: 88px;
  border-radius: 24px;
  flex-shrink: 0;
  background-color: #ff7a28;
}

.btn-cart {
  background-color: white;
  border: none;
  border-radius: 24px;
  padding: 8px 16px;
  color: #000;
}

.cart-list {
  border-color: #ff7a28;
  border-style: solid;
  height: 650px;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
